.recipe-edit-form-container {
    border: 2px solid #ccc;
    padding: 1px;
    border-radius: 5px;
}

.recipe-edit-form-container ul li,
.recipe-edit-form-container ol li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    /* optional spacing */
}

.recipe-edit-form-container ul li label,
.recipe-edit-form-container ol li label {
    margin-right: 10px;
    white-space: nowrap;
}

.recipe-edit-form-container ul li input[type="text"],
.recipe-edit-form-container ol li input[type="text"] {
    flex-grow: 1;
    margin-right: 10px;
}

.fixed-amount {
    width: 100px !important;
    max-width: 100px !important;
    min-width: 100px !important;
    box-sizing: border-box;
}