.featured-recipe {
  border: 1px solid #ddd;
  padding: 1rem;
  max-width: 600px;
  margin: 0 auto 2rem;
  text-align: center;
}

.featured-recipe-image {
  width: 100%;
  height: auto;
}

.featured-recipe-details {
  margin-top: 1rem;
}

.featured-title {
  text-align: center;
}