/* Navigation */
.top-header {
    background: #dbdada;
    color: white;
    padding: 15px 0;
    text-align: center;
  }
  
  .main-nav {
    background: #57595c;
    padding: 10px 0;
    text-align: center;
  }
  
  .nav-links a {
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.1em;
    color: white;
  }
  
  .nav-links a:hover {
    text-decoration: underline;
    color: #e2e0e0;
  }
  