{% extends "layout.html" %}
{% block title %} Lisää uusi ainesosa {% endblock %}
{% block content %}
<h2>Lisää uusi ainesosa reseptille {{ recipe.title }}</h2>

<form action="/add_ingredient/{{ recipe.id }}" method="post">
  <p>
    Otsikko: <br />
    {{recipe.title}}
  </p>
  <p>
    Kuvaus: <br />
    {{recipe.description}}
  </p>
  {% if recipe_ingredients %}
  <h2>Ainesosat</h2>
  <ul>
    {% for ingredient in recipe_ingredients %}
    <li>{{ ingredient.name }} - {{ingredient.amount}}</li>
    {% endfor %}
  </ul>
  {% endif %}
  <p>
    Ainesosan nimi: <br />
    <input type="text" name="name" maxlength="30" />
    {% if errors.name %}
    <span style="color: red;">{{ errors.name }}</span>
    {% endif %}
  </p>
  <p>
    Määrä: <br />
    <input type="text" name="amount" maxlength="20" />
    {% if errors.amount %}
    <span style="color: red;">{{ errors.amount }}</span>
    {% endif %}
  </p>
  <input type="submit" name="save" value="Tallenna" />
  <input type="submit" name="back" value="Keskeytä" />
</form>
{% endblock %}
