{% extends "layout.html" %}
{% block title %} Reseptin muokkaus {% endblock %}
{% block content %}
<h2>Muokkaa reseptiä</h2>

<form action="/edit_recipe/{{ recipe.id }}" method="post">
  <p>
    Otsikko: <br />
    <input type="text" name="title" maxlength="50" value="{{recipe.title}}" />
    {% if errors.title %}
    <span style="color: red">{{ errors.title }}</span>
    {% endif %}
  </p>
  <p>
    Kuvaus: <br />
    <textarea name="description" rows="8" cols="60" maxlength="1000">{{recipe.description}}</textarea>
    {% if errors.description %}
    <span style="color: red">{{ errors.description }}</span>
    {% endif %}
  </p>
  <input type="submit" value="Tallenna" />
</form>

{% endblock %}
