{% extends "layout.html" %}
{% block title %}Haku{% endblock %}
{% block content %}
<div class="filter-results-wrapper">
  <!-- Filter Sidebar -->
  <div class="filter-sidebar">
    <form action="/find_recipe" method="get">
      <div class="filter-box">
        <h3>Ruokavalinnat</h3>
        <label for="vegan">
          <input type="checkbox" name="vegan" id="vegan" {% if request.args.get('vegan') %}checked{% endif %}>
          Vegaaninen
        </label>
        <br>
        <label for="vegetarian">
          <input type="checkbox" name="vegetarian" id="vegetarian" {% if request.args.get('vegetarian') %}checked{% endif %}>
          Kasvis
        </label>
        <br>
        <label for="lactose_free">
          <input type="checkbox" name="lactose_free" id="lactose_free" {% if request.args.get('lactose_free') %}checked{% endif %}>
          Laktoositon
        </label>
        <br>
        <label for="gluten_free">
          <input type="checkbox" name="gluten_free" id="gluten_free" {% if request.args.get('gluten_free') %}checked{% endif %}>
          Gluteeniton
        </label>
      </div>
      
      <div class="filter-box">
        <h3>Tähtiarvosana</h3>
        <label for="star1">
          <input type="checkbox" name="avg_rating" value="1" id="star1" {% if '1' in request.args.getlist('avg_rating') %}checked{% endif %}>
          1 tähti
        </label>
        <br>
        <label for="star2">
          <input type="checkbox" name="avg_rating" value="2" id="star2" {% if '2' in request.args.getlist('avg_rating') %}checked{% endif %}>
          2 tähteä
        </label>
        <br>
        <label for="star3">
          <input type="checkbox" name="avg_rating" value="3" id="star3" {% if '3' in request.args.getlist('avg_rating') %}checked{% endif %}>
          3 tähteä
        </label>
        <br>
        <label for="star4">
          <input type="checkbox" name="avg_rating" value="4" id="star4" {% if '4' in request.args.getlist('avg_rating') %}checked{% endif %}>
          4 tähteä
        </label>
        <br>
        <label for="star5">
          <input type="checkbox" name="avg_rating" value="5" id="star5" {% if '5' in request.args.getlist('avg_rating') %}checked{% endif %}>
          5 tähteä
        </label>
      </div>
      
      <div class="filter-box">
        <h3>Ruokakulttuuri</h3>
        <label for="cuisine">Valitse:</label>
        <select name="cuisine" id="cuisine">
          <option value="" {% if not request.args.get('cuisine') %}selected{% endif %}>Kaikki</option>
          {% for cuisine in cuisines %}
            <option value="{{ cuisine.id }}" {% if request.args.get('cuisine') == cuisine.id|string %}selected{% endif %}>
              {{ cuisine.name }}
            </option>
          {% endfor %}
        </select>
      </div>
      
      <div class="filter-box">
        <h3>Hakusana</h3>
        <input type="text" name="query" value="{{ query }}" placeholder="Hakusana...">
      </div>
      <button type="submit" class="btn btn-primary">Hae</button>
    </form>
  </div>

  <!-- Results Column -->
  <div class="results">
    {% if results %}
      <h2>Tulokset</h2>
      <table class="results-table">
        <thead>
          <tr>
            <th>Resepti</th>
            <th>Laatija</th>
            <th>Arvosana</th>
            <th>Tunnisteet</th>
          </tr>
        </thead>
        <tbody>
          {% for recipe in results %}
          <tr>
            <td>
              <a href="/recipe/{{ recipe.id }}">{{ recipe.title }}</a>
            </td>
            <td>
              <a href="/user/{{ recipe.user_id }}">{{ recipe.username }}</a>
            </td>
            <td>
              <div class="rating-stars">
                {% if recipe.avg_rating %}
                  {% for i in range(0, recipe.avg_rating) %}
                    <img src="{{ url_for('static', filename='icons/star.svg') }}" width="16" height="16" alt="tähti">
                  {% endfor %}
                  {% for i in range(0, 5 - recipe.avg_rating) %}
                    <img src="{{ url_for('static', filename='icons/star_empty.svg') }}" width="16" height="16" alt="tyhjä tähti">
                  {% endfor %}
                {% else %}
                  {% for i in range(0, 5) %}
                    <img src="{{ url_for('static', filename='icons/star_empty.svg') }}" width="16" height="16" alt="tyhjä tähti">
                  {% endfor %}
                {% endif %}
              </div>
            </td>
            <td>
              <div class="tags">
                {% if recipe.vegan %}
                  <span class="tag tag-vegan">Veg</span>
                {% endif %}
                {% if recipe.vegetarian %}
                  <span class="tag tag-vegetarian">Kasvis</span>
                {% endif %}
                {% if recipe.lactose_free %}
                  <span class="tag tag-lactose-free">Lakt</span>
                {% endif %}
                {% if recipe.gluten_free %}
                  <span class="tag tag-gluten-free">Glut</span>
                {% endif %}
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>Ei tuloksia.</p>
    {% endif %}
  </div>
</div>
{% endblock %}
