{% extends "layout.html" %}
{% block title %} Haku {% endblock %}
{% block content %}
{% if not session.username %}
<h1><a href="/register">Luo tunnus</a> ja lisää omia reseptejä!</h1>
{% endif %}
<h2>Etsi resepti</h2>

<form action="/find_recipe" method="get">
  <p>
    <label for="query">Hakusana:</label>
    <input type="text" name="query" value="{{ query }}" />
  </p>
  <p>
    <label for="vegan">Vegaaninen:</label>
    <input type="checkbox" name="vegan" />
    <label for="vegetarian">Vegetaarinen:</label>
    <input type="checkbox" name="vegetarian" />
    <label for="lactose_free">Lactose free:</label>
    <input type="checkbox" name="lactose_free" />
    <label for="gluten_free">Gluten free:</label>
    <input type="checkbox" name="gluten_free" />
  </p>

  <input type="submit" value="Hae" />
</form>

{% if results %}
<h2>Tulokset</h2>
<ul>
  {% for recipe in results %}
  <li><a href="/recipe/{{ recipe.id }}"> {{ recipe.title }} </a> - <a href="/user/{{ recipe.user_id }}">{{ recipe.username }}</a> 
    {% if recipe.avg_rating %}
    {% for i in range(0, recipe.avg_rating) %}
    <img src="{{ url_for('static', filename='icons/star.svg') }}" width="20" height="20" alt="star" />
    {% endfor %}
    {% for i in range(0, 5-recipe.avg_rating) %}
    <img src="{{ url_for('static', filename='icons/star_empty.svg') }}" width="20" height="20" alt="empty_star" />
    {% endfor %}
    {% else %}
    {% for i in range(0, 0) %}
    <img src="{{ url_for('static', filename='icons/star.svg') }}" width="20" height="20" alt="star" />
    {% endfor %}
    {% for i in range(0, 5) %}
    <img src="{{ url_for('static', filename='icons/star_empty.svg') }}" width="20" height="20" alt="empty_star" />
    {% endfor %}
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% endif %}
{% endblock %}
