{% extends "layout.html" %}
{% block title %} Haku {% endblock %}
{% block content %}
{% if not session.username %}
<h1><a href="/register">Luo tunnus</a> ja lisää omia reseptejä!</h1>
{% endif %}
<h2>Etsi resepti</h2>

<form action="/find_recipe" method="get">
  <p>
    <label for="query">Hakusana:</label>
    <input type="text" name="query" value="{{ query }}" />
  </p>
  <input type="submit" value="Hae" />
</form>

{% if query %}
<h2>Tulokset</h2>
<ul>
  {% for recipe in results %}
  <li><a href="/recipe/{{ recipe.id }}"> {{ recipe.title }} </a></li>
  {% endfor %}
</ul>
{% endif %}
{% endblock %}
