<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
</head>

<body>
  <h1>Ruokareseptit</h1>

  {% if session.user_id %}
  <p>
    Tervetuloa <a href="/user/{{ session.user_id }}">{{ session.username }}</a> <br />
  </p>
  {% endif %}

  <p>
    <a href="/">Etusivu</a> |
    <a href="/find_recipe">Etsi resepti</a> |
  {% if session.user_id %}
    <a href="/create_recipe">Uusi resepti</a> |
    <a href="/logout">Kirjaudu ulos</a>
  {% else %}
    <a href="/login">Kirjaudu sisään</a> |
    <a href="/register">Luo tunnus</a>
  {% endif %}
  </p>

  {% block content %}{% endblock %}  
</body>

</html>