{% extends "layout.html" %}
{% block title %} Kirjautuminen {% endblock %}
{% block content %}
{% if session.username %}
<p>Olet kirjautunut nimellä {{ session.username }}</p>
<p>
  <a href="/logout">Kirjaudu ulos</a>
</p>
{% else %}
<h1><a href="/register">Luo tunnus</a> ja lisää omia reseptejä!</h1>
<form action="/login" method="post">
  <p>
    <label for="username">Tunnus:</label>
    <input type="text" name="username" required />
      {% if errors.username %}
      <span style="color: red;">{{ errors.username }}</span>
      {% endif %}
  </p>
  <p>
    <label for="password">Salasana:</label>
    <input type="password" name="password" required />
    {% if errors.password %}
    <span style="color: red;">{{ errors.password }}</span>
    {% endif %}
  </p>
  <input type="submit" value="Kirjaudu" />
</form>
{% endif %}

{% endblock %}
