{% extends "layout.html" %}
{% block title %} Uuden reseptin lisääminen {% endblock %}
{% block content %}
<h1>Uusi resepti</h1>
<form action="/create_recipe" method="post">
  <p>
    Otsikko: <br />
    <input
      type="text"
      name="title"
      value="{{ form_data.title if form_data else '' }}"
      maxlength="30"
      required
    />
    {% if errors.title %}
    <span style="color: red">{{ errors.title }}</span>
    {% endif %}
  </p>
  <p>
    Kuvaus: <br />
    <textarea name="description" rows="8" cols="60" maxlength="1000" required>
      {{ form_data.description if form_data else '' }}
    </textarea>
    {% if errors.description %}
    <span style="color: red">{{ errors.description }}</span>
    {% endif %}
  </p>
  <input type="submit" value="Luo resepti" />
</form>
{% endblock %}
