{% extends "layout.html" %} {% block title %} Uuden reseptin lisääminen {%
endblock %} {% block content %}
<h1>Uusi resepti</h1>
<form action="/create_recipe" method="post">
  <p>
    Otsikko: <br />
    <input
      type="text"
      name="title"
      value="{{ form_data.title if form_data and 'title' else '' }}"
      maxlength="30"
    />
    {% if errors.title %}
    <span style="color: red">{{ errors.title }}</span>
    {% endif %}
  </p>
  <p>
    Kuvaus: <br />
    <textarea name="description" rows="8" cols="60" maxlength="1000">{{ form_data.description if form_data and 'description' in form_data else '' }}</textarea>
    {% if errors.description %}
    <span style="color: red">{{ errors.description }}</span>
    {% endif %}
  </p>

  <p>
  <h3>Ainekset</h3>
  {% if recipe_ingredients %}
  <ul>
    {% for ingredient in recipe_ingredients %}
    <li>{{ ingredient.name }} - {{ ingredient.amount }}</li>
    {% endfor %}
  </ul>
  {% endif %}

  <p>
    Ainesosan nimi: <br />
    {% if errors.name %}
    <input
      type="text"
      name="name"
      maxlength="30"
      value="{{ form_data.name if form_data and 'name' in form_data else '' }}"
    />
    <span style="color: red">{{ errors.name }}</span>
    {% else %}
    <input type="text" name="name" maxlength="30" />
    {% endif %}
  </p>
  <p>
    Määrä: <br />
    {% if errors.amount %}
    <input
      type="text"
      name="amount"
      maxlength="20"
      value="{{ form_data.amount if form_data and 'amount' in form_data else '' }}"
    />
    <span style="color: red">{{ errors.amount }}</span>
    {% else %}
    <input type="text" name="amount" maxlength="20" />
    {% endif %}
  </p>
  <input type="submit" name="ingredient" value="Lisää uusi aines" />
</p>

  <input type="submit" name="save" value="Luo resepti" />
</form>
{% endblock %}
