{% extends "layout.html" %}
{% block title %} Resepti - {{ recipe.title }} {% endblock %}
{% block content %}

<h2>{{ recipe.title }}</h2>

{% if session.user_id == recipe.user_id %}
<a href="/edit_recipe/{{ recipe.id }}" class="btn {{ edit_disabled|default('') }}">
<img src="{{ url_for('static', filename='icons/edit.svg') }}" width="20" height="20" alt="Muokkaa">
</a> 
<a href="/remove_recipe/{{ recipe.id }}" class="btn {{ edit_disabled|default('') }}"> 
<img src="{{ url_for('static', filename='icons/delete.svg') }}" width="20" height="20" alt="Poista">
</a>
{% endif %}

<p>{{ recipe.description }}</p>
<p>Laatinut: <a href="/user/{{ recipe.user_id }}">{{ recipe.username }}</a></p>

{% if recipe_ingredients %}
<h3>Ainesosat</h3>
<ul>
  {% for ingredient in recipe_ingredients %}
  <li>{{ ingredient.name }} - {{ ingredient.amount }}</li>
  {% endfor %}
</ul>
{% endif %}

{% if recipe_instructions %}
<h3>Ohjeet</h3>
<ol>
  {% for instruction in recipe_instructions %}
  <li>{{ instruction.instruction }}</li>
  {% endfor %}
</ol>
{% endif %}

{% block extra_content %}{% endblock %}

{% endblock %}
