{% extends "layout.html" %}
{% block title %} Poista resepti {% endblock %}
{% block content %}
<h2>Haluatko varmasti poistaa reseptin?</h2>

<h2>{{recipe.title}}</h2>
<h3>Kuvaus:</h3>
<p>{{recipe.description}}</p>

<br />
<form action="/remove_recipe/{{ recipe.id }}" method="post">
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <button type="submit" name="remove">Poista resepti</button>
  <button type="submit" name="back">Keskeytä</button>
</form>
</body>
</html>
{% endblock %}
