{% extends "layout.html" %} {% block title %} Resepti - {{ recipe.title }} {%
endblock %} {% block content %}

<div class="recipe-header">
  <div class="recipe-title-container">
    <h1>{{ recipe.title }}</h1>

    {% if session.user_id == recipe.user_id %}
    <div class="recipe-buttons">
      <a href="/edit_recipe/{{ recipe.id }}" class="btn {{ edit_disabled|default('') }}">
        <img src="{{ url_for('static', filename='icons/edit.svg') }}" width="20" height="20" alt="Muokkaa" />
      </a>
      <a href="/remove_recipe/{{ recipe.id }}" class="btn {{ edit_disabled|default('') }}">
        <img src="{{ url_for('static', filename='icons/delete.svg') }}" width="20" height="20" alt="Poista" />
      </a>
    </div>
    {% endif %}
  </div>
  <p class="rating-cuisine-container">
    <span class="rating-stars">
    {% if recipe.avg_rating %}
    {% for i in range(0, recipe.avg_rating) %}
    <img src="{{ url_for('static', filename='icons/star.svg') }}" width="20" height="20" alt="star" />
    {% endfor %}
    {% for i in range(0, 5-recipe.avg_rating) %}
    <img src="{{ url_for('static', filename='icons/star_empty.svg') }}" width="20" height="20" alt="empty_star" />
    {% endfor %}
    {% else %}
    {% for i in range(0, 0) %}
    <img src="{{ url_for('static', filename='icons/star.svg') }}" width="20" height="20" alt="star" />
    {% endfor %}
    {% for i in range(0, 5) %}
    <img src="{{ url_for('static', filename='icons/star_empty.svg') }}" width="20" height="20" alt="empty_star" />
    {% endfor %}
    {% endif %}
  </span>

  <span class="cuisine-tag">{{ recipe.cuisine }}</span>
  
    {% if recipe.vegan %}
    <span class="tag tag-vegan">Vegaani</span>
    {% endif %}

    {% if recipe.vegetarian %}
    <span class="tag tag-vegetarian">Kasvis</span>
    {% endif %}

    {% if recipe.lactose_free %}
    <span class="tag tag-lactose-free">Laktoositon</span>
    {% endif %}

    {% if recipe.gluten_free %}
    <span class="tag tag-gluten-free">Gluteeniton</span>
    {% endif %}
</p>

<p class="recipe-author">
  Laatinut: <a href="/user/{{ recipe.user_id }}">{{ recipe.username }}</a>
</p>

  <div class="recipe-image-description">
    <div class="image-container">
        {% if image_exists %}
            <img src="/recipe/{{ recipe.id }}/image" alt="Reseptikuva" class="recipe-image">
        {% else %}
        <img src="{{ url_for('static', filename='icons/default_recipe.svg') }}" alt="Oletusreseptikuva" class="recipe-image">
        {% endif %}

        {% if session.user_id == recipe.user_id %}
        <form action="/edit_recipe/{{ recipe.id }}/image" method="post" enctype="multipart/form-data" class="image-upload-form">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
            <input type="file" name="image" accept="jpg" required />
            <input type="submit" value="Päivitä kuva" class="btn btn-primary" />
        </form>
        {% endif %}
    </div>

    <p class="recipe-description">{{ recipe.description | replace('\n', '<br>') | safe }}</p>
</div>

  
</div>

<div class="recipe-container">
  <div class="recipe-column">
    <h3>Ainekset</h3>
    {% if recipe_ingredients %}
    <table class="ingredients-table">
      <thead>
        <tr>
          <th>Määrä</th>
          <th>Aines</th>
        </tr>
      </thead>
      <tbody>
        {% for ingredient in recipe_ingredients %}
        <tr>
          <td>{{ ingredient.amount }}</td>
          <td>{{ ingredient.name }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>

  <div class="recipe-column">
    <h3>Ohjeet</h3>
    {% if recipe_instructions %}

    <ol>
      {% for instruction in recipe_instructions %}
      <li>{{ instruction.instruction_name }}</li>
      {% endfor %}
    </ol>
    {% endif %}
  </div>
</div>
{% if session.user_id != recipe.user_id and session.user_id%}

<div>
  <h3>Arvostele resepti:</h3>

  <form action="/recipe/{{ recipe.id }}" method="POST">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <p><label for="stars">Tähdet:</label></p>
    <select name="stars" id="stars" class="stars-select">
      {% set selected_stars = rating.stars if rating and rating.stars else 5 %}
      {% for i in range(1, 6) %}
      <option value="{{ i }}" {% if selected_stars == i %}selected{% endif %}>
        {{ i }}
      </option>
      {% endfor %}
    </select>

    <p><label for="comment">Kommentti:</label></p>
      {% if rating %}
    <textarea name="comment" rows="8" class="comment-box">{{ rating.comment }}
    </textarea>
    <p>
      <label>
        <input type="submit" value="Muokkaa" />
      </label>
    </p>
    
    <hr>

    {% else %}
   <textarea name="comment" rows="8" class="comment-box">
{{ rating.comment }}</textarea
    >
    <label>
      <input type="submit" value="Lähetä" />
    </label>
    {% endif %}
  </form>
</div>
{% endif %} 

<h2>Arvostelut</h2>

{% if recipe_ratings %}
  {% for rating in recipe_ratings %}
  <div class="rating-container">
    <div class="rating-comment">
      {{ rating.comment }}
    </div>
    <div class="rating-username">
      <a href="/user/{{ rating.rated_by }}">{{ rating.username }}</a>
    </div>
    <div class="rating-container-stars">
      {% for i in range(0, rating.stars) %}
      <img src="{{ url_for('static', filename='icons/star.svg') }}" width="20" height="20" alt="star" />
      {% endfor %}
      {% for i in range(0, 5-rating.stars) %}
      <img src="{{ url_for('static', filename='icons/star_empty.svg') }}" width="20" height="20" alt="empty_star" />
      {% endfor %}
    </div>
    <div class="rating-created-at">
     {{ rating.created_at }}
    </div>
  </div>
  {% endfor %}
{% endif %}


{% block extra_content %}{% endblock %} {% endblock %}
