{% extends "layout.html" %} {% block title %} Resepti - {{ recipe.title }} {%
endblock %} {% block content %}

<div class="recipe-header">
  <div class="recipe-title-container">
    <h2>{{ recipe.title }}</h2>

    {% if session.user_id == recipe.user_id %}
    <div class="recipe-buttons">
      <a
        href="/edit_recipe/{{ recipe.id }}"
        class="btn {{ edit_disabled|default('') }}"
      >
        <img
          src="{{ url_for('static', filename='icons/edit.svg') }}"
          width="20"
          height="20"
          alt="Muokkaa"
        />
      </a>
      <a
        href="/remove_recipe/{{ recipe.id }}"
        class="btn {{ edit_disabled|default('') }}"
      >
        <img
          src="{{ url_for('static', filename='icons/delete.svg') }}"
          width="20"
          height="20"
          alt="Poista"
        />
      </a>
    </div>
    {% endif %}
  </div>
  <p class="recipe-description">{{ recipe.description }}</p>
  <p>Ruokakulttuuri: {{ recipe.cuisine }}</p>
  <p class="recipe-author">
    Laatinut: <a href="/user/{{ recipe.user_id }}">{{ recipe.username }}</a>
  </p>
</div>

<div class="recipe-container">
  <div class="recipe-column">
    <h3>Ainekset</h3>
    {% if recipe_ingredients %}
    <ul>
      {% for ingredient in recipe_ingredients %}
      <li>{{ ingredient.name }} - {{ ingredient.amount }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>

  <div class="recipe-column">
    <h3>Ohjeet</h3>
    {% if recipe_instructions %}

    <ol>
      {% for instruction in recipe_instructions %}
      <li>{{ instruction.instruction_name }}</li>
      {% endfor %}
    </ol>
    {% endif %}
  </div>
</div>
{% if session.user_id != recipe.user_id and session.user_id%}

<div>
  <h3>Arvostele resepti:</h3>

  <form action="/recipe/{{ recipe.id }}" method="POST">
    Tähdet <br/>
    <select name="stars" id="stars">
      {% set selected_stars = rating.stars if rating and rating.stars else 5 %}
      <option value="1" {% if selected_stars == 1 %}selected{% endif %}>1</option>
      <option value="2" {% if selected_stars == 2 %}selected{% endif %}>2</option>
      <option value="3" {% if selected_stars == 3 %}selected{% endif %}>3</option>
      <option value="4" {% if selected_stars == 4 %}selected{% endif %}>4</option>
      <option value="5" {% if selected_stars == 5 %}selected{% endif %}>5</option>
  </select>
    {% if rating %}
    Kommentti <br />
    <textarea name="comment" rows="8" cols="60" maxlength="1000">
{{rating.comment}}</textarea
    >
    <label>
      <input type="submit" value="Muokkaa" />
    </label>
    {% else %}
    <textarea name="comment" rows="8" cols="60" maxlength="1000">
{{ rating.comment }}</textarea
    >
    <label>
      <input type="submit" value="Lähetä" />
    </label>
    {% endif %}
  </form>
</div>
{% endif %} {% if recipe_ratings %} {% for rating in recipe_ratings %}
<div>
  {{ rating.comment}} -
  <a href="/user/{{ rating.rated_by }}">{{ rating.username }}</a>
  - {{ rating.created_at }}
  {% if rating.stars %}
  - {{ rating.stars }}
  {% endif %}
</div>
{% endfor %} {% endif %} {% block extra_content %}{% endblock %} {% endblock %}
