{% extends "layout.html" %} {% block title %} Resepti - {{ recipe.title }} {%
endblock %} {% block content %}

<div class="recipe-header">
  <div class="recipe-title-container">
    <h2>{{ recipe.title }}</h2>

    {% if session.user_id == recipe.user_id %}
    <div class="recipe-buttons">
      <a
        href="/edit_recipe/{{ recipe.id }}"
        class="btn {{ edit_disabled|default('') }}"
      >
        <img
          src="{{ url_for('static', filename='icons/edit.svg') }}"
          width="20"
          height="20"
          alt="Muokkaa"
        />
      </a>
      <a
        href="/remove_recipe/{{ recipe.id }}"
        class="btn {{ edit_disabled|default('') }}"
      >
        <img
          src="{{ url_for('static', filename='icons/delete.svg') }}"
          width="20"
          height="20"
          alt="Poista"
        />
      </a>
    </div>
    {% endif %}
  </div>
  <p class="recipe-description">{{ recipe.description }}</p>
  <p>Ruokakulttuuri: {{ recipe.cuisine }}</p>
  <p class="recipe-author">
    Laatinut: <a href="/user/{{ recipe.user_id }}">{{ recipe.username }}</a>
  </p>
</div>

<div class="recipe-container">
  <div class="recipe-column">
    <h3>Ainekset</h3>
    {% if recipe_ingredients %}
    <ul>
      {% for ingredient in recipe_ingredients %}
      <li>{{ ingredient.name }} - {{ ingredient.amount }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>

  <div class="recipe-column">
    <h3>Ohjeet</h3>
    {% if recipe_instructions %}

    <ol>
      {% for instruction in recipe_instructions %}
      <li>{{ instruction.instruction_name }}</li>
      {% endfor %}
    </ol>
    {% endif %}
  </div>
</div>
{% if session.user_id != recipe.user_id and session.user_id%}
<div>
  <h3>Arvostele resepti:</h3>
  <form action="/recipe/{{ recipe.id }}" method="POST">
    Kommentti <br />
    <textarea name="comment" rows="8" cols="60" maxlength="1000"></textarea>
    <label>
      <input type="submit" value="Lähetä" />
    </label>
  </form>
</div>
{% endif %}
{% if recipe_ratings %}
{% for rating in recipe_ratings %}
<div>
  {{ rating.comment}}
</div>
{% endfor %}
{% endif %}
{% block extra_content %}{% endblock %} {% endblock %}
